{% extends 'base.html' %}

{% block head %}
<title>Edit Post</title>
{% endblock %}

{% block body %}
<h1>Editing post</h1>
<h2>Edit Post:</h2>
<form action='/posts/edit/{{ post.id }}' method='POST'>
    <hr>
    <label for="title">Title: *</label>
    <input class="form-control" type='text' name='title' id='title' value="{{post.title}}" aria-label="Enter Title">
    <br>
    <label for="owner">Name of Owner: *</label>
    <input class="form-control" type='text' name='owner' id='owner' value="{{post.owner}}" aria-label="Enter Name">
    <br>
    <label for="address">Address: *</label>
    <input class="form-control" type='text' name='address' id='address' value="{{post.address}}" aria-label="Enter Address">
    <br>
    <div class="form-group">
        <h6 style="display:inline">It's a... * </h6>
        <select style="display:inline" name="property">
            <option value="">Select type</option>
            <option value="Bunglow">Bunglow</option>
            <option value="Flat">Flat</option>
            <option value="Office">Office</option>
            <option value="Shop">Shop</option>
        </select>
    </div>
    <div class="form-group">
        <h6 style="display:inline">Want to:</h6>
        <select style="display:inline" name="want">
            <option value="">Select</option>
            <option value="Lease">Lease</option>
            <option value="Rent">Rent</option>
            <option value="Sell">Sell</option>
        </select>
    </div>

    <br>
    <label for="emails">Enter Email Address: *</label>
    <input class="form-control" type='text' name='emails' id='emails' value="{{post.emails}}" aria-label="Enter Email Address">
    <br>
    <label for="description">Description: *</label>
    <textarea class="form-control" type='text' name='description' id='description' aria-label="Enter Description" rows="3">{{ post.description }}</textarea>
    <br>
    <input type='submit' value='Save'>
</form>
<hr>

{% endblock %}
