{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<h2>Home page</h2>
<div>
    <div class="bg-light p-5 rounded">
        <div class="col-sm-8 mx-auto">
            <h1>Welcome</h1>

            <p>Hey, Welcome to our website here. In this platform you can posts your property for free!!</p>
            <p>
                If you are looking for property to Buy/Lease/Rent just click 
                <a class="btn btn-primary" href="/posts" role="button">Go To Posts&raquo;</a>
            </p>
        </div>  
    </div>
</div>
</div>

{% endblock %}